name: API Monitor

on:
  workflow_dispatch:
  push:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  check-wait-times:
    runs-on: ubuntu-latest
    steps:
    - name: Install JQ
      run: sudo apt-get install jq

    - name: Check Wait Times
      id: check-times
      run: |
        data=$(curl -s "https://www.schiphol.nl/api/proxy/v3/waittimes/security-filters")
        threshold_exceeded_locations=""
        
        for key in $(echo $data | jq -r 'keys[]'); do
          if [[ $key == VF* ]]; then
            wait_time_in_seconds=$(echo $data | jq -r --arg KEY $key '.[$KEY].waitTimeInSeconds')
            wait_time_in_minutes=$((wait_time_in_seconds / 60))
            if (( wait_time_in_seconds > 60 )); then
              threshold_exceeded_locations="${threshold_exceeded_locations}$key ($wait_time_in_minutes minutes)\n"
            fi
          fi
        done

        if [[ ! -z $threshold_exceeded_locations ]]; then
          echo -e "The following locations exceeded the threshold:\n$threshold_exceeded_locations\n\nGa naar Exploratory en check of er meer aan de hand is." > threshold_exceeded.txt
          echo "alert=true" >> $GITHUB_ENV
        else
          echo "alert=false" >> $GITHUB_ENV
          echo "All VF locations are within the acceptable wait time."
        fi

    - name: Send Email Notification
      if: env.alert == 'true'
      uses: dawidd6/action-send-mail@v3
      with:
        server_address: smtp.gmail.com
        server_port: 465
        username: ${{ secrets.MAIL_USERNAME }}
        password: ${{ secrets.MAIL_PASSWORD }}
        subject: Wachttijd Schiphol Alert
        body: file://threshold_exceeded.txt
        to: ${{ secrets.MAIL_TO }}
        from: ${{ secrets.MAIL_USERNAME }}
